@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Bebas+Neue&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Yanone+Kaffeesatz:wght@300;400&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #e4dede;
}

header {
  background-image: url("../img/degrade.png");
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999px;
}

img {
  border-radius: 1%;
  /* box-shadow: 1px 5px 9px #0f0f0f80; */
  cursor: pointer;
}

#a{
  display: none;
}

#coracao,
#pesquisa,
#voltar {
  margin-top: 15%;
  width: 40px;
  height: 45px;
  box-shadow: none;
  transition: 400ms;
}

#carrinho{
  margin-top: 14%;
  width: 44px;
  height: 50px;
  transition: 400ms;
  margin-right: 25%;
}

#voltar{
  margin-left: 15%;
}

#usuario{
  margin-top: 8%;
  width: 44px;
  height: 50px;
  transition: 400ms;
}

#btn-coracao{
  background-color: transparent;
  border: none;
}

#coracao:hover, #usuario:hover, #pesquisa:hover, #voltar:hover, #carrinho:hover{
  background-color: rgba(150, 127, 161, 0.514);
  border-radius: 70px;
  cursor: pointer;
  transform: scale(92%)
}


#logo {
  margin-top: 5%;
  width: 70px;
  height: 70px;
  box-shadow: none;
}

#logo-footer{
  width: 110px;
  height: 100px;
  
}

#txt{
  margin-left: -9%;
  margin-top: 16%;
  font-family: 'Lobster', sans-serif;
  font-weight: bold;
}

/*Alterações pertencentes ao footer*/

.txt{
  font-family: 'Lobster', sans-serif;
  font-weight: bold;
  font-size: 160%;
  margin-left: -25px;
  margin-top: 40px;
}

#espaco-logo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 5%;
}

#instagram, #twitter, #facebook{
  width: 35px;
  height: 35px;
}

#icones{
  padding-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15%;
}

#nome-logo{
  padding-top: 8%
}

#txt-arroba{
  text-align: center;
  font-style: italic;
}

#alinhar-footer{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#informacoes{
  margin-left: 6%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2%;
}

.txt-inf{
  cursor: pointer;
  font-weight: none;
}

.txt-inf:hover{
  color: #4f694c;
  text-shadow: 1px 1px 9px #8b5c9e73;
}

#direitos-reservados{
  padding-top: 3%;
  text-align: center;
  margin-left: 5%;
  font-weight: none;
  font-size: 120%;
}

.linhaaa{
  padding-top: 5%;
  border-bottom: 1px solid #141414;
  margin: 0 auto;
  width: 60%;
}

#flor-footer{
  width: 20%;
  position: absolute;
  margin-top: -6%;
}

#new{
  width: 50%;
  margin-top: -180px
}


@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		
		transform:translatey(-5px)
	}
}
#espaco-logo, #icone-logo{
     animation: float 6s ease-in-out infinite;
}

footer{
  width: 100%;
}

#a{
  margin-top: 5%;
  display: none;
}

.navbar-inverse{
  background-color: #c4b4ca;
  border-radius: 5px;
}

.navbar-inverse .navbar-nav>li>a{
  font-family: "Barlow Condensed", sans-serif; ;
  font-weight: bold;
  color: #000;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
  margin-left: 0px;
}

/*___________________________*/

h2{
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-left: 10%;
  font-size: 290%;
  color: #000;
}

h1 {
  margin-top: 5%;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  font-size: 440%;
  margin-left: 10%;
  color: #000;
}



h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  font-size: 220%;
  font-style: italic;
  margin-left: 10%;
  color: #000;
}

#alinhar-titulos {
  margin-top: 13%;
  background: rgb(215,232,250);
  background: linear-gradient(90deg, rgba(215,232,250,1) 14%, rgba(211,229,247,1) 52%, rgba(198,220,245,1) 76%);
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 9px #6b68685d;
}

#icone-logo {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}


#icones-esquerda {
  display: flex;
  justify-content: left;
  gap: 20px;
}

#icones-direita {
  display: flex;
  justify-content: right;
  gap: 20px;
}

#categorias {
  margin-top: 3%;
}

#icon-oculos,
#icon-bolsa,
#icon-chapeu,
#icon-vestido,
#icon-sapato,
#icon-joia {
  margin-top: 2%;
  width: 40px;
  height: 50px;
  box-shadow: none;
}

#txt-1, #txt-2, #txt-3, #txt-4, #txt-5, #txt-6{
  margin-top: 6%;
}

p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 130%;
}

#oculos,
#bolsas,
#vestidos,
#chapeus,
#sapatos,
#joias {
  background-color: #b3b888;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 7%;
  transition: 400ms;
  border-radius: 5px;
}

#oculos:hover,
#bolsas:hover,
#vestidos:hover,
#chapeus:hover,
#sapatos:hover,
#joias:hover{
  background-color: #bfc2a6;
}

#oculos,
#bolsas,
#vestidos,
#chapeus,
#sapatos,
#joias {
  width: 300px;
  box-shadow: none;
  cursor: pointer;
}

#categoria-1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1%;
}
#categoria-2 {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1%;
}

#categorias {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#modelo-1,
#modelo-2,
#modelo-3 {
  width: 280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: transform .5s;
  background-color: #e6eaeb;
  padding: 1%;
  border-radius: 10px;
}

#modelo-1:hover,
#modelo-2:hover,
#modelo-3:hover{
  transform: scale(105%); 
  cursor: pointer;
}

#img-1, #img-2, #img-3, #img-4{
  transition: transform .5s;
}

#img-1:hover, #img-2:hover, #img-3:hover, #img-4:hover{
  transform: scale(105%); 
  cursor: pointer;
}

#modelo-dois,
#modelo-tres {
  max-width: 100%;
  height: 85%;
  border-radius: 9px;
}

#modelo-um{
  border-radius: 9px;
  margin-top: 1%;
  width: 100%;
  height: 85%;
}

#produtos-modelos {
  gap: 2%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.precos {
  font-family: 'Fjalla One', sans-serif;  
  font-size: 140%;
  margin-left: 1%;
  padding-top: 6%;
  text-decoration: none;
  color: #000;
}

#produtos-limitados {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
}

#titulo-produtoo{
  color: #000;
  text-decoration: none;
  font-size: 130%;
}

#vestido-rosa,
#vestido-verde {
  width: 240px;
  border-radius: 9px;

}

#vestido-roxo {
  width: 250px;
  height: 360px;
  border-radius: 9px;
}

#vestido-1,
#vestido-2,
#vestido-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  transition: transform .5s;
  background-color: #e6eaeb;
  padding: 1%;
  border-radius: 10px;
}

#vestido-1:hover,
#vestido-2:hover,
#vestido-3:hover{
  transform: scale(105%); 
  cursor: pointer;
}

#btn-pesquisa{
  background-color: transparent;
  border: none;
}

.linha {
  margin-left: 5%;
  margin-top: 5%;
  height: 3px;
  width: 90%;
  border: none;
  background-color: #727846;
}

.linhaa{
  margin-left: 5%;
  height: 2px;
  width: 90%;
  margin-bottom: 4%;
  border: none;
  background-color: #727846;
}

h4 {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 350%;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.icon-direita,
.icon-esquerda {
  padding-top: 300%;
  box-shadow: none;
}

footer {
  margin-top: 10%;
  background-image: url("../img/footer.jpg");
  height: 450px;
}

#container-subtitulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


@media screen and (max-width: 830px) {
  #a{
    display: block;
  }
  #icone-logo{
    margin-left: -300px;
  }
  #categoria-1,
  #categoria-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #coracao, #usuario, #carrinho, #voltar, #pesquisa{
    display: none;
  }
  #categorias {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-esquerda, .icon-direita{
    width: 80%;
  }
  #chapeus,
  #bolsas,
  #joias,
  #sapatos {
    margin-top: 1%;
  }
  #modelo-1,
  #modelo-2 {
    display: none;
  }
  #produtos-modelos {
    margin-top: 16%;
  }
  #alinhar-titulos{
    margin-top: 30%;
  }
  #vestido-1,
  #vestido-3 {
    display: none;
  }
  .linha{
    margin-top: 15%;
  }
  #espaco-logo{
    margin-left: -4%;
    padding-top: 2%;
  }
  #alinhar-footer{
    flex-direction: column;
   }
   .txt{
    margin-left: 0;
   }

   #modelo-tres, #modelo-um, #modelo-dois{
    padding-left: 10%;
    max-width: 90%;
   }
   #informacoes{
    padding-top: 0px;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
   }
   #direitos-reservados{
    padding-top: 1%;
    margin-left: 0;
   }
   footer{
    height: 560px;
   }
   #nome-logo{
    display: none;
   }
   #icones{
    padding-top: 8%;
    gap: 5%;
   }
   .txt{
    margin-left: -4%;
   }
   #logo-footer{
    margin-left: -8%;
   }
   .linhaaa{
    display: none;
   }
   #flor-footer{
    width: 40%;
    margin-top: -150px;
   }
   #new{
    display: none;
  }

}

@media screen and (max-width: 1200px) {
    #vestido-rosa, #vestido-verde{
        width: 190px;
    }
    #vestido-roxo{
        width: 190px;
        height: 280px;
    }
    
}





/*-------------- Página de produtos ----------- */


#container-produto{
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#titulo-produto{
  font-size: 280%;
  font-style: italic;
}

#foto-produto{
  background-color: #cbdbec;
  width: 50%;
  height: 600px;
  display: flex;
  gap: 10%;
  flex-direction: row;
  border-radius: 1%;
}

#espaco-fotos{
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
}

.caixa{
  margin-top: 40%;
  width: 70px;
  height: 70px;
  background-color: #B3B888;
}

#vestido_verde{
  margin-top: 10%;
  max-width: 60%;
  height: 80%;
}

#detalhes-produto{
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 50%;
}

#alinhar-estrelas{
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 2%;
  margin-left: 10%;
}

#titulo-preco{
  font-size: 200%;
}

#seta-btn{
  width: 7%;
}

#botao-semelhantes{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 120%;
  margin-top: 5%;
  margin-left: 10%;
  width: 250px;
  height: 50px;
  background-color: #C6BAD5;
  border: none;
  transition: 600ms;
}

#botao-semelhantes:hover{
  background-color: #b2a4c4;

}


#frete{
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 4%;
}

#txt-frete{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 130%;
  font-weight: bold;
  margin-left: 40%;
}

#alinhar-produtos{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#menos, #mais{
  width: 30px;
  height: 30px;
}

#coracaoo{
  width: 30px;
  height: 30px;
  margin-top: 0;
}

#valorFrete{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  font-size: 110%;
}

#voltar{
  width: 40px;
  height: 40px;
}

#quantProd{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 110%;
  padding: 2%;
  background-color: transparent;
  box-shadow: none;
  width: 30px;
  font-weight: bold;
}

#cep{
  width: 190px;
}

.estrela{
  width: 50px;
  height: 50px;
}

#funcao-frete{
  padding-top: 3%;
  background-color: #cbdbec;
  width: 50%;
  border-radius: 1%;
}

#funcao-compra{
  width: 50%;
}

#funcao-quantidade, #comprar{
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  gap: 2%;
}

#comprar{
  margin-top: 2%;
  gap: 2%;
}

#btn-compra{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 120%;
  width: 140px;
  height: 50px;
  background-color: #b3b888;
  border: none;
  border-radius: 3px;
  transition: 700ms;
}

#btn-compra:hover{
 
  background-color: #9da178;
}


#btn-frete{
  width: 130px;
  height: 37px;
  border: none;
  background-color: #C6BAD5;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 115%;
  transition: 600ms;
}

#btn-frete:hover{
  background-color: #b2a4c4;
}

input{
  border: none;
  outline: none;
  width: 170px;
  box-shadow: 1px 5px 9px #00000036;
  font-family: 'Barlow Condensed', sans-serif;
}

#outros-produtos{
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#saia-rosa, #saia-azul, #saia-verde, #roxo-vestido{
  width: 70%;
}

#seta-esquerda, #seta-direita{
  margin-left: 3%;
  margin-right: 3%;
}

#btn-mais, #btn-menos{
  background-color: transparent;
  border: none;
}

#vestido_rosa, #vestido_roxo, #modelo_um, #modelo_dois, #modelo_tres, #saia_verde, #saia_azul, #saia_rosa{
  width: 45%;
  height: 70%;
  margin-right: 5%;
  margin-top: 15%;
  border-radius: 7px;
}

#roxo_vestido{
  margin-top: 15%;
  width: 45%;
  height: 70%;
  border-radius: 20px;
}


#input-numero{
  width: 10px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: 0;
  font-size: 120%;
  box-shadow: none;
}

button{
  cursor: pointer;
}

a:-webkit-any-link{
  text-decoration: none;

}

h5{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  font-size: 170%;
}

#titulo-comentarios{
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 3%;
}

#titulo-avaliacao{
  background-color: #B3B888;
  padding: 0;
  margin: 0;
}

#avaliacao{
  background-color: #B3B888;
  margin-left: -5%;
 
}

#icone-avaliacao{
  width: 40px;
  height: 45px;
}

#caixa-comentarios{
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-color: rgb(250, 249, 250);
  border-radius: 15px;
  padding-left: 3%;
  padding-right: 6%;
}

#comentarioBox{
  padding-top: 20px;
  width: 450px;
}


#nota{
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  height: 30px;
}

#icon-seta-btn, #icon-escrever{
  width: 30px;
  height: 30px;
}

#btn-comentar, #btn-comentarios{
  background-color: #C6BAD5;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 40px;
}

#funcoes-comentario{
  display: flex;
  justify-content: right;
  flex-direction: row;
  gap: 3%;
  margin-bottom: 5%;
}

#central{
  display: flex;
  justify-content: center;
}

#formatar{
  display: flex;
  justify-content: space-around;
 
}

#titulo-avaliacao{
  margin-top: 5%;
  background-color: transparent;
  font-style: italic;
  margin-left: 10%;
}

@media screen and (max-width: 970px) {
  #container-produto{
    flex-direction: column;
  }
  #foto-produto{
    gap: 0;
    width: 100%;
  }
  #vestido_verde{
    max-width: 290px;
    height: 350px;
    margin-top: 25%;
  }
  #alinhar-produtos{
    flex-direction: column;
  }
  #alinhar-estrelas{
    justify-content: center;
  }
  #detalhes-produto{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #funcao-frete{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #funcao-compra{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #funcao-quantidade, #comprar{
    margin-left: 0px;
    gap: 10%;
  }
  #funcao-quantidade{
    padding-top: 6%;
    padding-bottom: 5%;
    margin-right: 13%;
  }
  #img-1, #img-2, #img-4{
    display: none;
  }
  #img-3{
    margin-left: 20%;
  }
  #frete{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-left: 0px;
  }
  .estrela{
    width: 45px;
    height: 45px;
  }
  #valorFrete, #cep{
    font-size: 100%;
    width: 150px;
    margin-bottom: 15%;
  }
  #botao-semelhantes{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0px;
    width: 180px;
  }
  #avaliacao{
    margin-left: 0;
  }
  #comentarioBox{
    margin-left: 1%;
    margin-right: 1%;
    width: 50%;
  }
  #caixa-comentarios{
    width: 50%;
  }
  #container-produto{
    width: 100%;
  }
  #espaco-fotos{
    display: none;
  }
  #txt-frete{
    margin-left: 0;
    text-align: center;
  }
  #foto-produto{
    display: flex;
    justify-content: center;
  }
  #alinhar-estrelas, #titulo-preco{
    margin-left: 0px;
  }
  #titulo-avaliacao{
    margin-left: 0px;
    padding-top: 6%;
    padding-bottom: 6%;
  }
}

/*--------------------Fingindo que sei o que to fazendo----------------*/

#dropdown, #dropdown-login{
  margin-top: 10%; /*gambiarra aqui*/
  position: relative;
  display: inline-block;
}

#dropdown-content, #dropdown-content-login{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-content a, #dropdown-content-login a, #dropdown-content-login p{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Cormorant', serif;
  font-weight: 300;
  font-size: 1.2em;
}

#dropdown-content a:hover, #dropdown-content-login a:hover {background-color: #ddd;}

#dropdown:hover #dropdown-content, #dropdown-login:hover #dropdown-content-login {display: block;}

p{
  color: #000;
}

/*---------------- Página de login ------------*/

#caixa-login{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  width: 27%;
  padding: 3%;
  box-shadow: 1px 1px 4px #36363685;
}

.alinhar-txt{
  text-align: center;
}

h6{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 120%;
  text-align: center;
  margin-bottom: 18%;
  margin-top: 8%;
}

label{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 120%;
}

.inputt{
  border-bottom: 1px solid #c483d8;
  border-left: none;
  border-right: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 120%;
  width: 80%;
}

.inpt-1, .inpt-2{
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-bottom: 12%;
  padding-left: 40px;

}

#inpt-1, #inpt-2, #inpt-3, #inpt-4, #inpt-5, #inpt-6{
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-bottom: 4%;
  padding-left: 40px;
}

#h6-2{
  margin-bottom: 9%;
  margin-top: 5%;
}

.btn-login{
  background-color: #727846;
  color: #e4dede;
  font-family: 'Barlow Condensed', sans-serif;
  width: 25%;
  height: 30px;
  margin-top: 6%;
  font-size: 105%;
  border: none;
  border-radius: 2px;
  transition: 300ms;
}

.btn-login:hover{
  transition: 400ms;
  background-color: #c099ad;
}

.align{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 15%;
}

#align{
  margin-top: 5%;
}

.texto-abaixo{
  margin-top: 15%;
  font-size: 110%;
  cursor: pointer;
}

.texto-abaixo:hover{
  color: #3b3b3b;
}

.centraliza{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px){
  .align{
    flex-direction: column;
  }
  .btn-login{
    width: 35%;
  }
  #caixa-login{
    margin-top: 25%;
    min-width: 230px;
  }
}
